{% extends 'website/base.html' %}
{% load static %}

{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 475%;
    }
      figure {
        width: 100%;
        height: 100%;
        position: relative;
        animation: mymove 5s ;
        animation-fill-mode: forwards;
      }

      #figure {animation-timing-function: linear;
        }

      @keyframes mymove {
        from {left: -1000px;}
        to {left: 150px;}
      }
{% endblock style %}
{% block main %}
    <section class="body-text">
        <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
            <b>Quando for a Moscovo, ha inumeros lugares fantasticos para conhecer e como a gastronomia local </b></legend>
        <figure>
            <img src="{% static 'website/images/restauranreRussia1.jpg'%}" class="atividadeRussia1" alt="">
            <figcaption class="textCanada1">
                <details>
                    <summary>
                        <u><b>Cosmotic Museum</b></u>
                    </summary>
                    <p>Vai dar uma voltinha</p>
                </details>
            </figcaption>
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranreRussia2.jpg'%}" class="atividadeRussia2" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranreRussia3.jpg'%}" class="atividadeRussia3" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranreRussia4.jpg'%}" class="atividadeRussia4" alt="">
        </figure>
        <figcaption class="texto_atividadeRussia">
            <i class="material-icons" style="font-size:34px;color:rgb(16, 131, 16)">park</i>
            &nbsp;&nbsp;
            Actividades/Pontos Turisticos
            &nbsp;&nbsp;
            <i class="material-icons" style="font-size:34px;color:rgb(129, 73, 73)">museum</i>
        </figcaption>
        <figure>
            <img src="{% static 'website/images/cosmonauticsRussia.jpg'%}" class="atividadeRussia5" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/treno(1).jpg'%}" class="atividadeRussia6" alt="">
            </figure>
        <figure>
            <img src="{% static 'website/images/museu(1).jpg'%}" class="atividadeRussia7" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/tankes(1).jpg'%}" class="atividadeRussia8" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/Moscou1(1).jpg'%}" class="atividadeRussia9" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/metroRussiaAtividade.jpg'%}" class="atividadeRussia10" alt="">
        </figure>
        <figcaption class="texto_mapaCidadeCanada">
            <p>Mapa da Cidade de Moscovo</p>
        </figcaption>
         <figure>
            <img src="{% static 'website/images/mapaRussia1.jpg'%}" style="width: 50%; height: 60%"; class="mapaNoruega" >
        </figure>

{% endblock %}