{% extends 'website/base.html' %}
{% load static %}


{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 600%;
    }
      figure {
        width: 100%;
        height: 100%;
        position: relative;
        animation: mymove 5s ;
        animation-fill-mode: forwards;
      }

      #figure {animation-timing-function: linear;
        }


      @keyframes mymove {
        from {left: -1000px;}
        to {left: 150px;}
      }
     h1 {
        text-shadow: 1px 1px 2px black, 0 0 20px rgb(201, 4, 4), 0 0 5px rgb(0, 139, 19);
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
   }
{% endblock style %}

{% block main %}
    <figcaption class="body-text">
        <h1>&#127748; Actividades/Pontos Turisticos &#127748;</h1>
    </figcaption>
    <figcaption class="texto_GastronomiaNoruega">
        <i class="material-icons" style="font-size:35px;color:rgb(182, 180, 66)">local_dining</i>
        <i>  Gastronomia Local  </i>
        <i class="material-icons" style="font-size:35px;color:rgb(182, 180, 66)">local_dining</i>
    </figcaption>
    <section class="body-text">
        <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
            <b>Quando for a Lofoten, ha inumeros lugares fantasticos para conhecer e como a gastronomia local </b></legend>
        <figure>
            <img src="{% static 'website/images/restauranteNoruega1.jpg'%}" class="atividadeNoruega1" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranteNoruega2.jpg'%}" class="atividadeNoruega2" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranteNoruega3.jpg'%}" class="atividadeNoruega3" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/restauranteNoruega4.jpg'%}" class="atividadeNoruega4" alt="">
        </figure>
        <figcaption class="texto_AtividadeNoruega">
            <i class="material-icons" style="font-size:34px;color:rgb(16, 131, 16)">park</i>
            &nbsp;&nbsp;
            Actividades/Pontos Turisticos
            &nbsp;&nbsp;
            <i class="material-icons" style="font-size:34px;color:rgb(129, 73, 73)">museum</i>
        </figcaption>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega1.jpg'%}" class="atividadeNoruega5" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega2.jpg'%}" class="atividadeNoruega6" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega3.jpg'%}" class="atividadeNoruega7" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega4.jpg'%}" class="atividadeNoruega8" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega5.jpg'%}" class="atividadeNoruega9" alt="">
        </figure>
        <figure>
            <img src="{% static 'website/images/atividadeNoruega6.jpg'%}" class="atividadeNoruega10" alt="">
        </figure>

        <figcaption class="texto_mapaCidadeCanada">
            Mapa da Cidade de Lofoten
        </figcaption>
        <figure>
            <img src="{% static 'website/images/mapaNoruega.jpg'%}" class="mapaNoruega" alt="">
        </figure>

    </section>
{% endblock %}