<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="keywords" content="Destinos">
    <meta name="desciption" content="Site turístico sobre 3 cidades">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    {% load static %}
    <script src="{% static 'website/script/singlePage.js' %}"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <title>Agência de Viagem</title>

    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>
<body>
    <header>

    <nav>
      <ul>
                <li>
                    <a class="categoria" href="{% url 'website:home' %}" >Página principal </a>
                </li>
          <br>
                <li>
                    <a>
                        Moscovo </a>
                    <ul>
                        <li>
                        <a href="{% url 'website:marcarViagemMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                        </li>

                        <li>
                        <a href="{% url 'website:imagensMosvovo' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                        </li>
                        <li>
                        <a href="{% url 'website:informacaoMoscover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                        </li>
                        <li>
                        <a href="{% url 'website:atividadeMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                        </li>
                    </ul>
                </li>
          <br>
               <li>
                    <a class="marmelo">
                        Vancouver </a>
                    <ul>
                        <li>
                        <a href="{% url 'website:marcarViagemVancover' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                        </li>

                        <li>
                        <a href="{% url 'website:imagensVancover' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                        </li>
                        <li>
                    <a href="{% url 'website:informacaoVancover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                        </li>
                        <li>
                    <a href="{% url 'website:atividadeVancover' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                        </li>
                    </ul>
                </li>
          <br>

                <li>
                    <a class="categoria">

                        Lofoten </a>
                   <ul>
                        <li>
                        <a href="{% url 'website:marcarViagemLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                        </li>

                        <li>
                        <a href="{% url 'website:imagensLofoten' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                        </li>
                        <li>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                        </li>
                        <li>
                    <a href="{% url 'website:atividadeLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                        </li>
                    </ul>
                </li>
          <br>
                 <li>
                    <a  class="categoria">
                          <i class="fa fa-newspaper-o" style="font-size:24px;"></i>
                        Sobre nós </a>
                    <ul>
                        <li>
                            <a href="{% url 'website:comentario' %}"><i class="material-icons" style="font-size:14px;color:red">question_answer</i> Comentários </a>
                        </li>

                        <li>
                            <a href="{% url 'website:estiloPagina' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Estilo do Website </a>
                        </li>
                        <li>
                            <a href="{% url 'website:quizz' %}"><i class="material-icons" style="font-size:14px;color:red">assessment</i> Quizz </a>
                        </li>
                         <li>
                            <a href="{% url 'website:contacto' %}"><i class="material-icons" style="font-size:14px;color:red">account_circle</i> Contacto </a>
                        </li>
                    </ul>
                 </li>
              </ul>
        </nav>
    </header>
     <main>
        {% block main %}
        {% endblock main %}
    </main>
    <aside>
         <div class="contato">
              <h4>Contacto</h4>
              <br>
           <p style="font-size:18px"> F: <a  href="tel:+351215123456">+351 215 123 456</a>
           </p>
            <br>
            <p style="font-size:18px">
              T: <a  href="tel:+351963852741">+351 963 852 741</a>
              </p>
              <br>
              <p>
                &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <a class="email" href="mailto:viagemSemReturno@gmail.com">viagemSemReturno@gmail.com</a></p>
              <br>
            <a class="url" href="{% url 'website:home' %}">www.agenciaIdaSemVolta.pt</a>
            </div>


            <div class="inpe">

              <h4>Sobre nós</h4>
              <br>
              <section class="letraAside">
              <a class="blank" style="float:left"  href="{% url 'website:informacaoMoscover' %}">Moscovo</a>

              <a class="blank"   href="{% url 'website:informacaoLofoten' %}">Lofoten</a>
              &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:informacaoVancover' %}">Vancouver</a>
              <br>

              <a class="blank" href="{% url 'website:comentario' %}">Comentário</a>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:estiloPagina' %}">Estilo Página</a>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:home' %}">Página Principal</a>
            </section>
              <br>
            </div>

            <div class="menu">
              <hr>
              <br><br>
              <div class="label">Siga-nos</div>
              <div class="spacer"></div>
              <div class="item"><span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram</span></div>
              <div class="item"><span>Twitter</span></div>
              <div class="item"><span>Facebook</span></div>
            </div>

    </aside>
    <footer>
        <div style="display: flex; align-items: center; flex-direction: column;">
            {% if request.user.username %}
                <h3>Seja Bem vindo, {{ user.username }}</h3>
                <a class="btn btn-warning" href="{% url 'website:logout' %}">Logout</a>
            {% endif %}
        </div>
    </footer>
</body>
</html>
