<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width,0<initial-scale<1.0">
    <meta name="keywords" content="Destinos">
    <meta name="desciption" content="Site turístico sobre 3 cidades">
    <link href="https://www.w3schools.com/icons/bootstrap_icons_glyphicons.asp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
    <title>Agência de Viagem</title>
    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>
<body>
    <header>
         <nav>
         <div class="hamburger-icon">
            <label for="openmenu" >
                <label for="openmenu" >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </label>
            </div>
        <!--O nav não fica aqui por causa da class Active-->
        {% block nav %}
        {% endblock nav %}
    </nav>
    </header>



     <main>
        {% block main %}
        {% endblock main %}
    </main>
    <aside>
         <div class="contato">
              <h4>Contacto</h4>
              <br>
           <p style="font-size:18px"> F: <a  href="tel:+351215123456">+351 215 123 456</a>
           </p>
            <br>
            <p style="font-size:18px">
              T: <a  href="tel:+351963852741">+351 963 852 741</a>
              </p>
              <br>
              <p>
                &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <a class="email" href="mailto:viagemSemReturno@gmail.com">viagemSemReturno@gmail.com</a></p>
              <br>
            <a class="url" href="{% url 'website:home' %}">www.agenciaIdaSemVolta.pt</a>
            </div>


            <div class="inpe">

              <h4>Sobre nós</h4>
              <br>
              <section class="letraAside">
              <a class="blank" style="float:left"  href="{% url 'website:informacaoMoscover' %}">Moscovo</a>

              <a class="blank"   href="{% url 'website:informacaoLofoten' %}">Lofoten</a>
              &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:informacaoVancover' %}">Vancouver</a>
              <br>

              <a class="blank" href="{% url 'website:comentario' %}">Comenário</a>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:estiloPagina' %}">Estilo Página</a>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <a class="blank" href="{% url 'website:home' %}">Página Principal</a>
            </section>
              <br>
            </div>

            <div class="menu">
              <hr>
              <br><br>
              <div class="label">Siga-nos</div>
              <div class="spacer"></div>
              <div class="item"><span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram</span></div>
              <div class="item"><span>Twitter</span></div>
              <div class="item"><span>Facebook</span></div>
            </div>

    </aside>
    <footer>
        <form method="post"
            action="mailto:anonimo@alunos.ulht.pt" enctype="text/plain">
                <p>
                   <i class="material-icons" style="font-size:34px;color:rgb(141, 217, 236)">email</i>
                        &nbsp;&nbsp;&nbsp;Deseja receber as nossas ultimas ofertas
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Nome: <input type="text" name = "nome" placeholder="nome" autofocus required >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Insira o seu e-mail" required >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="image" src="{% static 'website/images/123.jpg'%}" alt="Submit" width="48" height="50">
                </form>
    </footer>
</body>
</html>