{% extends 'website/base.html' %}
{% load static %}

{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 480%;
   }
   h1 {
        text-shadow: 1px 1px 2px black, 0 0 20px rgb(201, 4, 4), 0 0 5px rgb(0, 139, 19);
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
   }

{% endblock style %}

{% block main %}
<h1>Comentário</h1>
    <form method="POST" action="">
        <br>
        <br>
        <p>Ajude-nos a perceber o que melhorar!!</p>
        <br>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <input class = "btn btn-primary" type="submit" value="Enviar Comentários">
    </form>
    <div class="centerIframeOrSvg">
        {{ graphCir|safe }}
    </div>
    <div class="centerIframeOrSvgs">
        {{ graphBar|safe }}
    </div>
{% endblock main %}