{% extends 'website/base.html' %}
{% load static %}

{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 200%;
   }
   h1 {
        text-shadow: 1px 1px 2px black, 0 0 20px rgb(201, 4, 4), 0 0 5px rgb(0, 139, 19);
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
   }
{% endblock style %}


{% block main %}
    <h1>Lista de Contactos:</h1>
    <br>
    <br>
    {% for contacto in contactos %}
        <p>
            ({{ contacto.dataCriacao.day }}/{{ contacto.dataCriacao.month }})
            -
            {{ contacto.nome }}
            {{ contacto.apelido }}
            <a href="{% url 'website:contactoApaga' contacto.id %}" class="btn btn-danger" style="float: right">Apagar</a>
            <br>
            <a href="{% url 'website:contactoEdita' contacto.id %}" class="btn btn-warning" style="float: right">Editar</a>
        </p>
    {% endfor %}
{% endblock main%}