{% extends 'website/base.html' %}
{% load static %}

{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 200%;
   }
   h1 {
        text-shadow: 1px 1px 2px black, 0 0 20px rgb(201, 4, 4), 0 0 5px rgb(0, 139, 19);
        font-family: "Times New Roman", Times, serif;
        font-size: 40px;
   }
{% endblock style %}


{% block main %}

    <h3>Contacto</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'website:contactoLista' %}">View all contacts</a>

{% endblock %}