{% extends 'website/base.html' %}
{% load static %}
{% block style %}
   html{

      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 470%;
    }
{% endblock style %}
{% block main %}
    <section class="body-text">
        <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
            <b>Imagens de Lofoten</b>
        </legend>
        <br>
        <br>
        <br>

        <section class="container">
            <div class="rotate" style="float: left;" >
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega.jpg'%}" alt="">
                    </section>
                </figure>
            </div>
            <div class="photos flip-3d" style="float: right;">
                <figure>
                    <img src="{% static 'website/images/noruega1.jpg'%}" alt="">
                    <figcaption>Paisagem</figcaption>
                </figure>
            </div>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="shake" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega2.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <div class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/noruega3.jpg'%}"  alt="">
                    <figcaption>Aurora Boreal </figcaption>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/noruega4.jpg'%}"  alt="">
                    <figcaption>Montanhas</figcaption>
                </figure>
            </div>
            <div  style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega5.jpg'%}" alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/noruega7.jpg'%}"  alt="">
                    <figcaption>Rio</figcaption>
                </figure>
            </div>
            <div class="zoom" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega6.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega12.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <div class="shake" style="float:none">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega9.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <section class="container">
            <div  class="photos flip-3d" style="float:left">
                <figure>
                    <img src="{% static 'website/images/noruega10.jpg'%}"  alt="">
                    <figcaption>Paisagem</figcaption>
                </figure>
            </div>
            <div class="zoom" style="float:none">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/noruega11.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
    </section>
{% endblock %}