{% extends 'website/base.html' %}
{% load static %}
{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 560%;
    }
{% endblock style %}
{% block main %}
    <section class="body-text">
        <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
            <b>Imagens de Vancouver </b>
        </legend>
        <br>

        <section class="container">
            <div  class="photos flip-3d" style="float:none">
                <figure>
                    <img src="{% static 'website/images/VancouverNatal.jpg'%}"  alt="">
                    <figcaption>Natal</figcaption>
                </figure>
            </div>
            <div class="shake" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/Vancouver4.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:left">
                <figure>
                    <img src="{% static 'website/images/Vancouver5.jpg'%}"  alt="">
                    <figcaption>Ponte</figcaption>
                </figure>
            </div>
            <div  style="float:none">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/Vancouver6.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <section class="container">
            <div  class="shake" style="float: left">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/ChristmasVancouver.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <div class="photos flip-3d" style="float:right ">
                <figure>
                    <img src="{% static 'website/images/christmasVancouverNatal.jpg'%}"  alt="">
                    <figcaption>Efeitos de Natal</figcaption>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:left ">
                <figure>
                    <img src="{% static 'website/images/Vancouver1.jpg'%}"  alt="">
                    <figcaption>Museu da Ciência</figcaption>
                </figure>
            </div>
            <div class="zoom" style="float:right" >
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/Vancouver2.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/parqueCanada.jpg'%}"  alt="">
                    <figcaption>Parque</figcaption>
                </figure>
            </div>
            <div class="photos flip-3d" style="float:left;">
                <figure>
                    <img src="{% static 'website/images/cityCenterCanada.jpg'%}"  alt="">
                    <figcaption>Cidade</figcaption>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="rotate" style="float:none">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/capilanoCanada.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
    </section>
{% endblock %}