{% extends 'website/base.html' %}
{% load static %}
{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 600%;
    }
{% endblock style %}
{% block main %}
    <section class="body-text">
        <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
            <b>Imagens de Moscovo</b>
        </legend>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:none">
                <figure>
                    <img src="{% static 'website/images/1.jpg'%}"  alt="">
                    <figcaption>Red Square</figcaption>
                </figure>
            </div>
            <div class="shake" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/3.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="zoom" style="float:right">
                <figure>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <section style="float:left; ">
                        <img src="{% static 'website/images/2.jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
        <br>
        <br>
            <div  >
                <figure>
                      <section >
                          <img src="{% static 'website/images/CatedralRussia.jpg'%}"  alt="">
                      </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/Moscou4(1).jpg'%}"  alt="">
                    <figcaption>Monumento</figcaption>
                </figure>
            </div>
            <br>
        <br><br>
        <br><br>
        <br>
            <div class="shake" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/Moscou3(1).jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>
        <section class="container">
            <div  class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/Moscou8(1).jpg'%}"  alt="">
                    <figcaption>Matreshka</figcaption>
                </figure>
            </div>
            <div class="photos flip-3d" style="float:right">
                <figure>
                    <img src="{% static 'website/images/Moscou7(1).jpg'%}"  alt="">
                    <figcaption>Vista da Catedral</figcaption>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <br>
        <br>

        <section class="container">
            <div  class="zoom" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/Moscou6(1).jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <div class="photos flip-3d" >
                <figure >
                    <img src="{% static 'website/images/moscouNatal(1).jpg'%}"  alt="">
                    <figcaption>St. Basil's Cathedral</figcaption>
                </figure>
            </div>
            <br>
            <br>
        </section>
        <section class="container">
            <div   style="float:none">
                <figure>
                    <section >
                        <img src="{% static 'website/images/moscouNatal2(1).jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <div class="rotate" style="float:right">
                <figure>
                    <section style="float:left; ">
                        <img src="{% static 'website/images/moscouNatal3(1).jpg'%}"  alt="">
                    </section>
                </figure>
            </div>
            <br>
            <br>
        </section>
    </section>
{% endblock %}