{% extends 'website/base.html' %}
{% load static %}
{% block nav %}
        <ul class="menu-links">
            <li><a href="###">Home &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:home' %}"><i class="material-icons" style="font-size:14px;color:red">home</i> Página principal </a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Moscovo &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <a href="{% url 'website:imagensMosvovo' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <a href="{% url 'website:informacaoMoscover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <a href="{% url 'website:atividadeMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Vancouver &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemVancover' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <a href="{% url 'website:imagensVancover' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <a href="{% url 'website:informacaoVancover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <a href="{% url 'website:atividadeVancover' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Lofoten &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <a href="{% url 'website:imagensLofoten' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Sobre nós &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:comentario' %}"><i class="material-icons" style="font-size:14px;color:red">question_answer</i> Comentários </a>
                    <a href="{% url 'website:estiloPagina' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Estilo do Website </a>
                    <a href="{% url 'website:quizz' %}"><i class="material-icons" style="font-size:14px;color:red">assessment</i> Quizz </a>
                </span>
            </li>
         </ul>
{% endblock %}
{% block main %}

             <section class="body-text">
            <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
              <big><b>Imagens de Lofoten</b></big></legend>
              <br>
              <br>
              <br>
                <section class="container">

                <div class="rotate" style="float: left;" >
                    <figure>
                      <div class="foo">

                      </div>
                      <div class="foo bar">
                        </div>
                        <section style="float:left; "><img src="{% static 'website/images/noruega.jpg'%}" >
                    </figure>


                </div>
                <div class="photos flip-3d" style="float: right;">
                    <figure>
                        <<img src="{% static 'website/images/noruega1.jpg'%}" >
                     <figcaption>Paisagem</figcaption>
                    </figure>
                </div>
            </section>
            <br>
            <br>
            <section class="container">
              <div  class="shake" style="float:right">

                  <figure>
                      <section style="float:left; "><img src="{% static 'website/images/noruega2.jpg'%}" >
                  </figure>

              </div>
              <div class="photos flip-3d" style="float:right">

                  <figure>
                      <img src="{% static 'website/images/noruega3.jpg'%}" >
                   <figcaption>Aurora Boreal </figcaption>
                  </figure>
              </div>
            <br>
            <br>
          </section>
          <br>
          <br>
          <section class="container">
            <div  class="photos flip-3d" style="float:right">

                <figure>
                    <img src="{% static 'website/images/noruega4.jpg'%}" >
                 <figcaption>Montanhas</figcaption>
                </figure>

            </div>
            <div  style="float:right">

                <figure>
                        <section style="float:left; "><img src="{% static 'website/images/noruega5.jpg'%}" >
                </figure>
            </div>
          <br>
          <br>
        </section>
        <br>
        <br>
        <section class="container">
          <div  class="photos flip-3d" style="float:right">
              <figure>
                  <img src="{% static 'website/images/noruega7.jpg'%}" >
               <figcaption>Rio</figcaption>
              </figure>

          </div>
          <div class="zoom" style="float:right">

              <figure>
                  <section style="float:left; "><img src="{% static 'website/images/noruega6.jpg'%}" >

              </figure>

          </div>
        <br>
        <br>
      </section>
      <br>
      <br>
      <section class="container">
        <div  style="float:right">
            <figure>
                <section style="float:left; "><img src="{% static 'website/images/noruega12.jpg'%}" >
            </figure>
        </div>
        <div class="shake" style="float:center">
            <figure>
                <section style="float:left; "><img src="{% static 'website/images/noruega9.jpg'%}" >
            </figure>
        </div>
      <br>
      <br>



    </section>
    <section class="container">
      <div  class="photos flip-3d" style="float:left">
          <figure>
              <img src="{% static 'website/images/noruega10.jpg'%}" >
           <figcaption>Paisagem</figcaption>
          </figure>

      </div>
      <div class="zoom" style="float:center">

          <figure>
              <section style="float:left; "><img src="{% static 'website/images/noruega11.jpg'%}" >


          </figure>

      </div>
    <br>
    <br>

  </section>
{% endblock %}