{% extends 'website/base.html' %}
{% load static %}
{% block nav %}
        <ul class="menu-links">
            <li><a href="###">Home &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:home' %}"><i class="material-icons" style="font-size:14px;color:red">home</i> Página principal </a>
                </span>
            </li>
        </ul>
        <p></p>
        <ul class="menu-links">
            <li><a href="###">Moscovo &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensMosvovo' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoMoscover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:atividadeMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <p></p>
        <ul class="menu-links">
            <li><a href="###">Vancouver &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemVancover' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensVancover' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoVancover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:atividadeVancover' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Lofoten &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensLofoten' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Sobre nós &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:comentario' %}"><i class="material-icons" style="font-size:14px;color:red">question_answer</i> Comentários </a>
                    <p></p>
                    <a href="{% url 'website:estiloPagina' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Estilo do Website </a>
                    <p></p>
                    <a href="{% url 'website:quizz' %}"><i class="material-icons" style="font-size:14px;color:red">assessment</i> Quizz </a>

                </span>
            </li>
         </ul>
{% endblock %}
{% block main %}
    <section class="body-text">
            <legend align="center" style="font-size:22px;color:rgb(0, 0, 0)">
              <big><b>Imagens de Vancouver </b></legend></big>
              <br>
                <section class="container">

                <div  class="photos flip-3d" style="float:center">
                    <figure>
                         <img src="{% static 'website/images/VancouverNatal.jpg'%}" >
                     <figcaption>Natal</figcaption>
                    </figure>
                </div>
                <div class="shake" style="float:right">
                    <figure>
                        <section style="float:left; "><img src="{% static 'website/images/Vancouver4.jpg'%}" >
                    </figure>
                </div>
            </section>
            <br>
            <br>
            <section class="container">
              <div  class="photos flip-3d" style="float:left">

                  <figure>
                      <img src="{% static 'website/images/Vancouver5.jpg'%}" >
                   <figcaption>Ponte</figcaption>
                  </figure>

              </div>
              <div  style="float:center">

                  <figure>
                      <section style="float:left; "><img src="{% static 'website/images/Vancouver6.jpg'%}" >
                  </figure>

              </div>
            <br>
            <br>

          </section>
          <br>
          <section class="container">
            <div  class="shake" style="float: left">

                <figure>
                    <section style="float:left; "><img src="{% static 'website/images/ChristmasVancouver.jpg'%}" >
                </figure>

            </div>
            <div class="photos flip-3d" style="float:center right ">

                <figure>
                    <img src="{% static 'website/images/christmasVancouverNatal.jpg'%}" >
                 <figcaption>Efeitos de Natal</figcaption>
                </figure>

            </div>
          <br>
          <br>

        </section>
          <br>
          <section class="container">
            <div  class="photos flip-3d" style="float:left ">

                <figure>
                   <img src="{% static 'website/images/Vancouver1.jpg'%}" >
                 <figcaption>Museu da Ciência</figcaption>
                </figure>

            </div>
            <div class="zoom" style="float:right center" >

                <figure>
                    <section style="float:left; "><img src="{% static 'website/images/Vancouver2.jpg'%}" >
                </figure>

            </div>
          <br>
          <br>

        </section>
        <br>
        <br>
        <section class="container">
          <div  class="photos flip-3d" style="float:right">

              <figure>
                  <img src="{% static 'website/images/parqueCanada.jpg'%}" >
               <figcaption>Parque</figcaption>
              </figure>

          </div>
          <div class="photos flip-3d" style="float:left;">

              <figure>
                <img src="{% static 'website/images/cityCenterCanada.jpg'%}" >

               <figcaption>Cidade</figcaption>
              </figure>

          </div>
        <br>
        <br>

      </section>
      <br>
      <br>
      <section class="container">
        <div  class="rotate" style="float:center">

            <figure>
                <section style="float:left; "><img src="{% static 'website/images/capilanoCanada.jpg'%}" >
            </figure>

        </div>

      <br>
      <br>

    </section>
{% endblock %}