{% extends 'website/base.html' %}
{% load static %}
{% block style %}
    html{
    background-image: url({% static 'website/images/fundo1.jpg'%}) ;
    height: 250%;
    }
    img.noruega {
  position: relative;
  top: 0px;
  right: 50px;
  border: 3px solid rgb(45, 96, 173);
}
    img.russia {
  position: relative;
  top: 0px;
  right: -50px;
  border: 3px solid rgb(45, 96, 173);
}
    img.canada {
  position: relative;
  top: 50px;
  right: -200px;
  border: 3px solid rgb(45, 96, 173);
}
{% endblock %}
{% block main %}
    <h1>Agência Ida sem Volta &#128519;</h1>
    <br>
    <h2>Bem Vindo</h2>
<br>


            <audio controls>
              <source src="musicas/lindo.mp3" type="audio/mpeg">
            </audio>

            <br><br>
            <p>A agência dispõe de tres destinos maravilhosos para descobrir.</p>
            <P>A nossa agência tem como privilegio de dar conhecimento a cidade de Mosvovo, Vancouvere Lofoten. Para cada cidade,
               escolhemos os melhores hoteis e poderá economizar até 30% na reserva marcado através de nós.
              </P>
              <br>
              <br>

                <section style="float:left; "><img src="{% static 'website/images/moscovoCapa.jpg'%}" class="russia" alt="">
                <figcaption>Cidade de Moscovo</figcaption>
                </section>
                <section style="float:right; "><img src="{% static 'website/images/lofotenCapa.jpg'%}" class="noruega" alt="">
                <figcaption>Cidade de Lofoten</figcaption>
                </section>

                <br>

                <img src="{% static 'website/images/vancouverCapa.jpg'%}" class="canada" alt="">
<br><br><br><br>
                <figcaption>Cidade de Vancouver</figcaption  >

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <section>

              <svg width="500" height="300">
                <image href="{% static 'website/images/wordcloud.png'%}" width="100%" height="100%" class="wordcloud">
                </image>
                <!--Default-->
                <a href="style.html">
                    <ellipse opacity="0.3" cx="250" cy="230" rx="75" ry="17"></ellipse>
                  </a>

              <a href="informcaoNoruega.html">
                  <ellipse opacity="0.8" cx="250" cy="60" rx="115" ry="15"></ellipse>
                  <animate attributeName="rx" values="0;45;0" dur="15s" repeatCount="indefinite"></animate>
              </a>

              <a href="informacaoCanada.html">
                  <ellipse opacity="0.3" cx="300" cy="135" rx="60" ry="15"></ellipse>
              </a>

              <a href="informacaoRussia.html">
                  <ellipse opacity="0.6" cx="250" cy="200" rx="60" ry="12"></ellipse>
                  <animate attributeName="rx" values="0;45;0" dur="15s" repeatCount="indefinite" ></animate>
              </a>
  <!--
              <a href="informacaoCanada.html">
                  <ellipse opacity="0.3" cx="342" cy="150" rx="20" ry="55"/>
                      <animate attributeName="rx" values="0;90;0" dur="10s" repeatCount="indefinite" />
                  <ellipse/>
              </a>

              <a href="index.html">
                  <polygon opacity="0.3" points="300,95 340,100 300,30 175,157"/>
              </a>
              -->
              </svg>
              </section>
{% endblock %}