{% extends 'website/base.html' %}
{% load static %}
    {% block style %}
        #para o telemóvel

        @media (max-width: 600px) {
            main > div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    {% endblock %}

    {% block nav %}
        <ul class="menu-links">
                <li><a href="###">Home &dtrif;</a>
                  <span id="DC-info">
                    <a href="index.html"><i class="material-icons" style="font-size:14px;color:red">home</i> Página principal </a>


                   </span>
                  </li>

               </ul>
                <p></p>
                <ul class="menu-links">

                  <li><a href="###">Moscovo &dtrif;</a>
                    <span id="DC-info">
                      <a href="marcarViagemRussia.html"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                      <p></p>
                      <a href="imagensRussia.html"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                      <p></p>
                      <a href="informacaoRussia.html"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                      <p></p>
                      <a href="atividadeRussia.html"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>


            </span>
             </li>

     </ul>

     <p></p>
                 <ul class="menu-links">

                             <li><a href="###">Vancouver &dtrif;</a>
                               <span id="DC-info">
                                <a href="marcarViagemCanada.html"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                                <p></p>
                                <a href="imagensCanada.html"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                                <p></p>
                                <a href="informacaoCanada.html"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                                <p></p>
                                <a href="atividadeCanada.html"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>



                  </span></li>

                </ul>

                <ul class="menu-links">

                  <li><a href="###">Lofoten &dtrif;</a>
                    <span id="DC-info">
                      <a href="marcarViagemNoruega.html"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                      <p></p>
                      <a href="imagensNoruega.html"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                      <p></p>
                      <a href="informcaoNoruega.html"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                      <p></p>
                      <a href="atividadeNoruega.html"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>


       </span></li>
     </ul>

     <ul class="menu-links">
      <li><a href="###">Sobre nós &dtrif;</a>
        <span id="DC-info">
            <a href="comentario.html"><i class="material-icons" style="font-size:14px;color:red">question_answer</i> Comentários </a>
            <p></p>
            <a href="estiloPagina.html"><i class="material-icons" style="font-size:14px;color:red">style</i> Estilo do Website </a>
          </span></li>
  </ul>


  </ul>
    {% endblock %}
{% block main %}
    <h3>Página 1</h3>
    <p>Esta é a página número 1</p>
    <p>Teste 1</p>

{% endblock %}