{% extends 'website/base.html' %}
{% load static %}
{% block nav %}
        <ul class="menu-links">
            <li><a href="###">Home &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:home' %}"><i class="material-icons" style="font-size:14px;color:red">home</i> Página principal </a>
                </span>
            </li>
        </ul>
        <p></p>
        <ul class="menu-links">
            <li><a href="###">Moscovo &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensMosvovo' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoMoscover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:atividadeMoscovo' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <p></p>
        <ul class="menu-links">
            <li><a href="###">Vancouver &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemVancover' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensVancover' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoVancover' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:atividadeVancover' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Lofoten &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:marcarViagemLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">flight_takeoff</i> Marcação da viagem </a>
                    <p></p>
                    <a href="{% url 'website:imagensLofoten' %}"><i class="material-icons" style="font-size:14px;color:rgb(175, 175, 175)">collections</i> Imagens da cidade </a>
                    <p></p>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Mais informação sobre a cidade</a>
                    <p></p>
                    <a href="{% url 'website:informacaoLofoten' %}"><i class="material-icons" style="font-size:14px;color:red">rowing</i> Actividades/Pontos Turisticos</a>
                </span>
            </li>
        </ul>
        <ul class="menu-links">
            <li><a href="###">Sobre nós &dtrif;</a>
                <span id="DC-info">
                    <a href="{% url 'website:comentario' %}"><i class="material-icons" style="font-size:14px;color:red">question_answer</i> Comentários </a>
                    <p></p>
                    <a href="{% url 'website:estiloPagina' %}"><i class="material-icons" style="font-size:14px;color:red">style</i> Estilo do Website </a>
                    <p></p>
                    <a href="{% url 'website:quizz' %}"><i class="material-icons" style="font-size:14px;color:red">assessment</i> Quizz </a>

                </span>
            </li>
         </ul>
{% endblock %}
{% block main %}
   <div class="body-text">


            <big><h1>Moscovo &#128519;</h1></big>
            <br>
            <br>
            <p>Moscou, situada às margens do rio de mesmo nome, no oeste da Rússia, é a capital cosmopolita do país. Em seu núcleo histórico está localizado o Kremlin, um complexo que abriga a residência do presidente e tesouros czaristas no Palácio do Arsenal. Do lado de fora de suas paredes fica a Praça Vermelha, centro simbólico da Rússia, que conta com o Mausoléu de Lenin, a abrangente coleção do Museu Histórico do Estado e a Catedral de São Basílio, conhecida pelas cúpulas coloridas em forma de cebola.
              </p>
              <br>
              <br>
          </div>
          <center>
            <iframe width="560" height="315"  src="https://www.youtube.com/embed/vfUrK9pFfUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>




            <br>
            <br>


            <div style="overflow-x:auto;">
<table  style="font-size:90%;width:100%;border:0px;text-align:center;line-height:120%;">
    <tbody><tr>
    <th colspan="15" style="background: #6688AA; color: white;"><big>Tabela Climática de Lofoten</big>
    </th></tr>
    <tr>
    <th colspan="15" style="background: #446688; color: white;">Temperatura
    </th></tr>
    <tr>
    <th style="background: #bebaba;" height="16">Mês
    </th>
    <th style="background: #bebaba;color: black;">Jan
    </th>
    <th style="background: #bebaba;color: black;">Fev
    </th>
    <th style="background: #bebaba;color: black;">Mar
    </th>
    <th style="background: #bebaba;color: black;">Abr
    </th>
    <th style="background: #bebaba;color: black;">Mai
    </th>
    <th style="background: #bebaba;color: black;">Jun
    </th>
    <th style="background: #bebaba;color: black;">Jul
    </th>
    <th style="background: #bebaba;color: black;">Ago
    </th>
    <th style="background: #bebaba;color: black;">Set
    </th>
    <th style="background: #DDDDDD;color: black;">Out
    </th>
    <th style="background: #bebaba;color: black;">Nov
    </th>
    <th style="background: #bebaba;color: black;">Dez
    </th>
    <th style="background: #bebaba;color: black;">
    </th>
    <th style="background: #bebaba;color: black;">Média
    </th></tr>
    <tr>
    <th height="16;">Média Máxima °C
    </th>
    <td style="background: #667F99; color: black;">-4.0º
    </td>
    <td style="background: #6A7F95; color: black;">-3.7º
    </td>
    <td style="background: #737F8C; color: black;">2.6º
    </td>
    <td style="background: #7D7F82; color: black;">11.3º
    </td>
    <td style="background: #8B7F74; color: black;">18.6º
    </td>
    <td style="background: #9D7F62; color: black;">23.0º
    </td>
    <td style="background: #AB7F54; color: black;">27.3º
    </td>
    <td style="background: #AB7F54; color: black;">25.9º
    </td>
    <td style="background: #9D7F62; color: black;">15.7º
    </td>
    <td style="background: #8F7F70; color: black;">8.7º
    </td>
    <td style="background: #787F87; color: black;">0.9º
    </td>
    <td style="background: #6A7F95; color: black;">-3.0º
    </td>
    <td>
    </td>
    <td style="background: #867F79; color: black;">9.6º
    </td></tr>
    <tr>
    <th height="16;">Média mínima °C
    </th>
    <td style="background: #407FBF; color: black;">-9.1º
    </td>
    <td style="background: #407FBF; color: black;">-9.8º
    </td>
    <td style="background: #4A7FB5; color: black;">-4.4º
    </td>
    <td style="background: #4E7FB1; color: black;">2.2º
    </td>
    <td style="background: #587FA7; color: black;">7.7º
    </td>
    <td style="background: #667F99; color: black;">13.1º
    </td>
    <td style="background: #6A7F95; color: black;">16.2º
    </td>
    <td style="background: #667F99; color: black;">14.5º
    </td>
    <td style="background: #617F9E; color: black;">7.4º
    </td>
    <td style="background: #587FA7; color: black;">2.7º
    </td>
    <td style="background: #4A7FB5; color: black;">-3.3º
    </td>
    <td style="background: #407FBF; color: black;">-7.6º
    </td>
    <td>
    </td>
    <td style="background: #537FAC; color: black;">2.1º
    </td></tr>
    <tr>
    <th colspan="15" style="background: #446688; color: white;">Precipitação
    </th></tr>
    <tr>
    <th style="background: #bebaba;" height="16">Mês
    </th>
    <th style="background: #bebaba;color: black;">Jan
    </th>
    <th style="background: #bebaba;color: black;">Fev
    </th>
    <th style="background: #bebaba;color: black;">Mar
    </th>
    <th style="background: #bebaba;color: black;">Abr
    </th>
    <th style="background: #bebaba;color: black;">Mai
    </th>
    <th style="background: #bebaba;color: black;">Jun
    </th>
    <th style="background: #bebaba;color: black;">Jul
    </th>
    <th style="background: #bebaba;color: black;">Ago
    </th>
    <th style="background: #bebaba;color: black;">Set
    </th>
    <th style="background: #bebaba;color: black;">Out
    </th>
    <th style="background: #bebaba;color: black;">Nov
    </th>
    <th style="background: #bebaba;color: black;">Dez
    </th>
    <th style="background: #bebaba;color: black;">
    </th>
    <th style="background: #bebaba;color: black;">Total
    </th></tr>
    <tr>
    <th height="16;">Total mm
    </th>
    <td style="background: #135AAA; color: black;">46
    </td>
    <td style="background: #185DAA; color: black;">36
    </td>
    <td style="background: #2865AA; color: black;">33
    </td>
    <td style="background: #527CAA; color: black;">38
    </td>
    <td style="background: #4F7AAA; color: black;">52
    </td>
    <td style="background: #6988AA; color: black;">84
    </td>
    <td style="background: #8195AA; color: black;">90
    </td>
    <td style="background: #7C92AA; color: black;">80
    </td>
    <td style="background: #6184AA; color: black;">67
    </td>
    <td style="background: #4373AA; color: black;">66
    </td>
    <td style="background: #2B67AA; color: black;">60
    </td>
    <td style="background: #2061AA; color: black;">53
    </td>
    <td>
    </td>
    <td style="background: #0050aa; color: black;">722.2
    </td></tr>

      <tr>
      </div>
    <th colspan="15" style="background: #bebaba;color: black;">Dados referentes aos séculos XIX, XX e XXI.
    </th></tr></tbody></table>
    <p><br clear="all" /></p><center>
    <table class="toc noprint" cellpadding="0" width="95%" cellspacing="2" style="align:center; text-align:center;clear:all;">
    <tbody><tr>
    </th>

    <br>
    <br>
    <br>
    <u><b><h3>Mapa de Moscovo</h3></b></u>
    <br>
    <br>


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d576857.4318697172!2d37.08056251839929!3d55.613336828882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2sMoscovo%2C%20R%C3%BAssia!5e0!3m2!1spt-PT!2spt!4v1618855464150!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    <br>

    <br>
    <br>



      <table class="wikitable collapsible" style="font-size:90%;width:50%;margin: auto;border:0px;text-align:center;line-height:120%;">
        <tbody><tr>
        <th colspan="15" style="background: #AB7F54; color: rgb(0, 0, 0);"><big>Informações</big>
        </th></tr>

        <tr>
        <th style="background: #8B7F74; color: black;" style="background: #DDDDDD;" height="16">País
        </th>
        <th style="background: #DDDDDD;color: black;">Noruega
        </th>

        <th style="background: #DDDDDD;">
        </th>
        </tr>
        <tr>
          <th style="background: #8B7F74; color: black;" style="background: #DDDDDD;" height="16">Região
          </th>
          <th style="background: #DDDDDD;color: black;">Lofoten
          </th>

          <th style="background: #DDDDDD;">
          </th>
          </tr>
          <tr>
            <th style="background: #8B7F74; color: black;" style="background: #DDDDDD;" height="16">População
            </th>
            <th style="background: #DDDDDD;color: black;">24,500 hab.
            </th>

            <th style="background: #DDDDDD;">
            </th>
            </tr>
            <tr>
              <th style="background: #8B7F74; color: black;" style="background: #DDDDDD;" height="16">Linguas Oficiais
              </th>
              <th style="background: #DDDDDD;color: black;">Norueguês
              </th>

              <th style="background: #DDDDDD;">
              </th>
              </tr>
              <tr>
                <th style="background: #8B7F74; color: black;" style="background: #DDDDDD;" height="16">Fuso horário com Portugal
                </th>
                <th style="background: #DDDDDD;color: black;">+2 horas
                </th>

                <th style="background: #DDDDDD;">
                </th>
                </tr>
            </tbody></table>

    </center>


    <br>
    <br>
    <br>

{% endblock %}