{% extends 'website/base.html' %}
{% load static %}
{% block style %}
   html{
      background-image: url({% static 'website/images/fundo1.jpg'%});
      height: 150%;
    }

{% endblock style %}
{% block main %}
     <h3>Login</h3>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
{% endblock main%}