*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-family: 'New Tegomin', serif;
}

/*CSS GRID NAMES*/
header {grid-area: header;}
nav {grid-area: menu;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

/*PC*/
@media (min-width: 601px) {
    body {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas:
        'header header header'
        'menu   menu   menu'
        'main   main   aside'
        'footer footer footer';
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
    /*Este z-index serve para no index na foto inicial não aparcer por cima do menu quando ele esta sticky
    Esta propriedade z-index espifica a ordem do overlay dos elementos posicionados como o nav é o unico que agora tem esta propriedade fica sempre no topo
    */
    z-index: 1;
}
aside {
    grid-area: aside;
    padding-top: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #5292bd;
    width: 100%;
    text-align: left;
    height: 250px;
  }
footer{
    background-color: #3a6581;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    grid-area: footer;
    display: flex;
    justify-content: center;
  }


/*PHONE */