{% extends 'website/base.html' %}

{% block main %}
<h1>Quizz</h1>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input class = "btn btn-primary" type="submit" value="Enviar Quizz">
    </form>



                    <label for="areas"><b>6.</b>Qual é o número de habitantes estimados em Moscovo?</label><br><br>
                    <select id="areas" name="areas">
                        <option value="9,273">11,273 milhões hab</option>
                        <option value="6,821">11,92 milhões hab</option>
                        <option value="14,573">9,890 milhões hab</option>
                        <option value="5,764">10,764 milhões hab</option>
                   </select><br><br>

                   <label for="areas"><b>6.</b>Qual é aproximadamente a área da cidade de Lofoten?</label><br><br>
                   <label for="areas">Escolha uma área:</label>
                   <select id="areas" name="areas">
                        <option value="3000"> 3000 m<sup>2</sup></option>
                        <option value="2022"> 2022 m<sup>2</sup></option>
                        <option value="1750"> 1750 m<sup>2</sup></option>
                        <option value="1227"> 1227 m<sup>2</sup></option>
                   </select><br><br>

                    <label for="text"><b>7.</b>Como se chama o monumento em baixo?</label><br><br>
                    <label for="fname">Nome:</label>
                    <input type="text" id="fname" name="fname" maxlength="100" autofocus><br><br>
                    {% load static %}
                    <input type="image" src="{% static 'website/images/CatedralMoscovo.jpg' %}" height="155"><br><br>

                    <input type="submit" value="Submeta o Quizz">
                    <input type="reset" value="reset">
                </fieldset>
            </form>
            <br><hr>
    </section>

{% endblock %}